/* Pure Navbar css */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 40px;
  background:transparent;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition:all 0.5s ease;
  z-index: 999;
}
.navbar-container .logo img{
  width: 210px;
  margin-top: 4px;
  transition:all 0.5s ease;
}
.navbar-container .navbar-menu {
  height: 100%;
  padding-bottom: 2px;
}
.navbar-container .navbar-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}
.navbar-container .navbar-menu ul li {
  list-style: none;
}
.navbar-container .navbar-menu ul li a {
  font-weight: 500;
  line-height: 0px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--commonColor);
  font-weight: var(--sixFont);
  position: relative;
}
.navbar-container .navbar-menu ul li:hover a{
  color: var(--commonColor);
  opacity: 0.7;
}
.navbar-container .navbar-menu ul li a::after{
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 3px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--commonColor);
  transition: all 0.3s ;
}
.navbar-container .navbar-menu ul li.active > a::after,
.navbar-container .navbar-menu ul li:hover a::after {
  width: 100%;
}
.navbar-container .menu-toggle {
  color: #FFF;
  float: right;
  line-height: 0px;
  cursor: pointer;
  display: none;
}
.navbar-container .mobileLogo{
  display: none;
}
.navbar-container .bars {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navbar-container .bars .line {
  fill: none;
  stroke: #323232;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}
.navbar-container .bars .line.top {
  stroke-dasharray: 40 172;
}
.navbar-container .bars .line.middle {
  stroke-dasharray: 40 111;
}
.navbar-container .bars .line.bottom {
  stroke-dasharray: 40 172;
}
.navbar-container .bars.active .top {
  stroke-dashoffset: -132px;
}
.navbar-container .bars.active .middle {
  stroke-dashoffset: -71px;
}
.navbar-container .bars.active .bottom {
  stroke-dashoffset: -132px;
}
/* ScrollBar Effect */
.shrink{
  padding: 10px 40px;
  backdrop-filter: blur(90px);
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(189,189,189,0.4);
}
.mobileShrink{
  padding: 0px 20px;
}
.navbar-container .logo .logoShirnk{
  width: 190px;
}
.navbar-container .navbar-menu ul li .menuItemsAllA{
  font-size: 15px;
}

@media (max-width: 792px) {
  .navbar-container .mobileLogo{
      display: block;
      text-align: center;
      margin-left: 25px;
 }
  .navbar-container .mobileLogo .mobileLogoImg{
      width: 80px;
      height: 80px;
 }
  .navbar-container {
      padding: 10px 20px;
      backdrop-filter: none;
 }
  .navbar-container .menu-toggle {
      display: block;
      margin-right: -10px;
 }
  .navbar-container .navbar-menu{
      margin-top: 0px;
      padding-top: 25px;
 }
  .navbar-container .navbar-menu ul{
      margin-top: 15px;
      padding-left: 0px;
 }
  .navbar-container .navbar-menu ul li{
      padding-left: 30px;
 }
 .navbar-container .navbar-menu ul li .menuItemsAllA { font-size: 16px; }
  .navbar-container .navbar-menu {
      position: fixed;
      width: 240px;
      height:100%;
      background:var(--body);
      box-shadow: 0px 1px 4px 0px rgba(189,189,189,0.4);
      top: 0px;
      left: -100%;
      transition: 0.5s;
      overflow: hidden;
 }
  .navbar-container .navbar-menu::before {
      content: "";
      position: absolute;
      width: 397%;
      height: 59%;
      left: -263px;
     /* top: auto;
      */
      z-index: -1;
      background-image: url(../img/menu/wave-01.svg);
      transform: rotate(308deg);
      background-repeat: no-repeat;
      background-size: 96% 118%;
      background-position-x: -304px;
      background-position-y: 29px;
      opacity: 0.1;
 }
  .navbar-container .navbar-menu.active{
      left: 0;
 }
  .navbar-container .navbar-menu ul {
      display: block;
      text-align: left;
 }
  .navbar-container .navbar-menu ul li a {
      line-height: 12px;
      width: 100%;
      display: block;
 }
  .navbar-container .navbar-menu ul li a::after{
      display: none;
 }
  .navbar-container .navbar-menu ul li:hover {
      background: rgb(237, 237, 237);
 }
}
@media (max-width: 350px) {
  .navbar-container .navbar-menu {
      width: 200px;
 }
  .navbar-container .navbar-menu::before {
      content: "";
      position: absolute;
      width: 442%;
 }
}
